* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    width: 100%;
    height: 100vh;
    background: rgb(176, 175, 177);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    padding: 1rem;
    width: 375px;
    height: 520px;
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.06);
    overflow: scroll;
}

.container form {
    padding: .10rem;
    width: 100%;
    border: 3px solid rgb(233, 110, 40);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container form input {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    font-size: 16px;
    padding: .5rem;
}

.container form i {
    padding-left: 10px;
}

.product-list {
    padding: 20px;
}

.product {
    /* border: 3px solid red; */
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-bottom: 15px;
}

.product img {
    padding-left: 1rem;
    width: 70px;
    height: 60px;
    object-fit: cover;
    /* border-radius: 5px; */
}

.product .p-details {
    padding-left: 15px;
}

.product .p-details h2 {
    font-size: 20px;
    color: #000;
}

.product .p-details h3 {
    font-size: 18px;
}

@media screen and (max-width:500px) {
    .container {
        padding: 1rem;
        width: 100vw;
        height: 100vh;
        background-color: #ffffff;
        overflow: scroll;

    }
}